source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget FParsec
nuget Legivel
nuget System.IdentityModel.Tokens.Jwt


github ms-jpq/fda
github giraffe-fsharp/Giraffe src/Giraffe/GiraffeViewEngine.fs
