source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Thoth.Json.Net
nuget YamlDotnet
nuget System.IdentityModel.Tokens.Jwt


github ms-jpq/fda
github giraffe-fsharp/Giraffe src/Giraffe/GiraffeViewEngine.fs
