form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

form > div {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: larger;
  font-weight: bolder;
}

figure {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

figure > div:last-child {
  background-image: url("/assets/chess.bmp");
  background-size: cover;
  width: 4em;
  height: 4em;
  overflow: hidden;
  border: solid;
  border-radius: 0.25em;
  border-color: gold;
  border-width: 0.2em;
  box-shadow: 0.3em -0.1em 0.3em 0em  rgb(40, 40, 40, 0.5);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

section > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 1.5em;
  padding-top: 0.5em;
}

section > div > span {
  flex-grow: 1;
}

section > div:first-child > span {
  background-image: url("/assets/users.png");
  background-size: 100% 100%;
  height: 100%;
  width: 1.5em;
}

section > div:nth-child(2) > span {
  background-image: url("/assets/key.png");
  background-size: 100% 100%;
  height: 100%;
  width: 1.5em;
}



section input[type="submit"] {
  background: transparent;
  background-image: url("/assets/go.png");
  background-size: 100% 100%;
  width: 2.5em;
  border: none;
}
