body {
  min-height: 100vh;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: aliceblue;
}

a {
  color: #2a2a2a;
}

main {
  padding-top: 35vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

form > div {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
}


output {
  display: none;
}

footer {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
}

footer > * {
  align-self: center;
  margin-bottom: 0.3em;
}

@media (max-width: 20em) {
  main {
    width: 100vw;
  }
}

@media (min-width: 20em) {
  main {
    width: 20em;
  }
}
