body {
  min-height: 100vh;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body > div {
  flex-grow: 1;
}

a {
  color: whitesmoke;
}

input {
  border-radius: 0.4em;
}

main {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

main > div {
  height: 20em;
  border-radius: 0.4em;
  box-shadow: 0.7em -0.1em 1.0em 0em  rgb(40, 40, 40, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

main > div > div:first-child,
main > div > div:last-child {
  width: 100%;
  flex-grow: 1;
  background: linear-gradient(75deg, rgb(0, 77, 163) 0%,  rgb(20, 90, 200) 30%, rgb(0, 77, 163) 100%);
}

main > div > div:nth-child(3) {
  width: 100%;
  background: linear-gradient(80deg, rgb(80, 115, 215) 0%, rgb(100, 130, 220) 25%, rgb(80, 115, 215) 100%);
}


main > div > span{
  width: 100%;
  height: 0.15em;
  background: linear-gradient(90deg, lightgrey 0%, orange 50%, lightgrey 100%);
}

main > div > div:nth-child(3) {
  height: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

output {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
}


body > div:last-child {
  height: 3em;
  width: 100%;
  flex-grow: 0;
}

footer > * {
  align-self: center;
  margin-bottom: 0.3em;
}

input[type="submit"] {
  cursor: pointer;
}

@media (max-width: 25em) {
  main > div {
    width: 100vw;
  }
}

@media (min-width: 25em) {
  main > div {
    width: 25em;
  }
}


/*
 *
 */

 form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

form > input {
  background-image: url("/assets/shutdown.png");
  background-size: cover;
  width: 6em;
  height: 6em;
  overflow: hidden;
  border: solid;
  border-radius: 0.25em;
  border-color: whitesmoke;
  border-width: 0.2em;
  box-shadow: 0.3em -0.1em 0.3em 0em  rgb(40, 40, 40, 0.5);
}
