form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

form > input {
  background: transparent;
  background-image: url("/assets/shutdown.png");
  background-size: 100% 100%;
  width: 6em;
  height: 6em;
  overflow: hidden;
  border: none;
  /* box-shadow: 0.3em -0.1em 0.3em 0em  rgb(40, 40, 40, 0.5); */
}
